<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.css">
    <link rel="stylesheet" href="https://preline.co/assets/css/main.min.css">
</head>


<!-- Bootstrap Navigation Code -->
<th:block xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light border-neutral-700 border-b" style="position: sticky; top: 0; z-index: 1030; backdrop-filter: blur(30px); background: rgba(50, 50, 50, 0.5);">
        <div class="container-fluid">
            <div class="btn-group">

                <div class="flex justify-between items-center gap-x-1">
                    <img alt="" class="d-inline-block align-center" src="" th:src="@{/images/ncs_logo.png}" height="50" width="auto">
                    <a class="flex-none font-semibold text-xl text-white focus:outline-hidden focus:opacity-80 dark:text-white"
                        th:href="@{https://opencodingsociety.com}" aria-label="Brand" style="text-decoration: none;">opencodingsociety Coders</a>
                </div>




                <!-- <a class="navbar-brand" th:href="@{https://opencodingsociety.com}">opencodingsociety Coders</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarHome">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home<span class="sr-only"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0">
                    <ul class="navbar-nav">
                        <li>
                            <div class="m-1 hs-dropdown [--trigger:hover] relative inline-flex">
                                <button id="samples-dropdown" type="button"
                                    class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg borde shadow-2xs focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none bg-neutral-800 border-neutral-700 text-white hover:bg-neutral-700 focus:bg-neutral-700"
                                    aria-haspopup="menu" aria-expanded="false" aria-label="samples dropdown">
                                    samples
                                    <svg class="hs-dropdown-open:rotate-180 size-4 ml-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="m6 9 6 6 6-6" />
                                    </svg>
                                </button>
                                <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 shadow-md rounded-lg mt-2 bg-neutral-800 border border-neutral-700 divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
                                    role="menu" aria-orientation="vertical" aria-labelledby="samples-dropdown">
                                    <div class="p-1 space-y-0.5">
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/greet}">
                                            spring greeting
                                        </a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/factorial}">
                                            factorial
                                        </a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/profileThymeleaf}">
                                            fibonacci
                                        </a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/palindrome}">
                                            palindrome
                                        </a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/birds}">
                                            birds background
                                        </a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/dne}">
                                            404 error
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown2">
                    <ul class="navbar-nav">
                        <li sec:authorize="isAuthenticated()">
                            <div class="m-1 hs-dropdown [--trigger:hover] relative inline-flex">
                                <button id="database-dropdown" type="button"
                                    class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg borde shadow-2xs focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none bg-neutral-800 border-neutral-700 text-white hover:bg-neutral-700 focus:bg-neutral-700"
                                    aria-haspopup="menu" aria-expanded="false" aria-label="database dropdown">
                                    database
                                    <svg class="hs-dropdown-open:rotate-180 size-4 ml-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="m6 9 6 6 6-6" />
                                    </svg>
                                </button>
                                <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 shadow-md rounded-lg mt-2 bg-neutral-800 border border-neutral-700 divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
                                    role="menu" aria-orientation="vertical" aria-labelledby="database-dropdown">
                                    <div class="p-1 space-y-0.5">
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/mvc/person/read}">sql person</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/mvc/groups/group-tracker}">group tracker</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/mvc/person/cookie-clicker}">cookie clicker game</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/api/imports/backups}">database backups</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0" sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                        <li>
                            <div class="m-1 hs-dropdown [--trigger:hover] relative inline-flex">
                                <button id="grading-dropdown" type="button"
                                    class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg borde shadow-2xs focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none bg-neutral-800 border-neutral-700 text-white hover:bg-neutral-700 focus:bg-neutral-700"
                                    aria-haspopup="menu" aria-expanded="false" aria-label="grading dropdown">
                                    grading
                                    <svg class="hs-dropdown-open:rotate-180 size-4 ml-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="m6 9 6 6 6-6" />
                                    </svg>
                                </button>
                                <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 shadow-md rounded-lg mt-2 bg-neutral-800 border border-neutral-700 divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
                                    role="menu" aria-orientation="vertical" aria-labelledby="grading-dropdown">
                                    <div class="p-1 space-y-0.5">
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            sec:authorize="hasRole('ROLE_TEACHER') or hasRole('ROLE_ADMIN')"
                                            th:href="@{/mvc/assignments/tracker}">assignment tracker</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            sec:authorize="hasRole('ROLE_TEACHER') or hasRole('ROLE_ADMIN')"
                                            th:href="@{/mvc/synergy/gradebook}">edit student grades</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            sec:authorize="hasRole('ROLE_STUDENT')"
                                            th:href="@{/mvc/synergy/gradebook}">view grades</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/mvc/synergy/create-grade-request}">create grade request</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/mvc/teamteach/teachergrading}">teacher grading team teach</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/mvc/assignments/queue-management}">assignment queue</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown3" sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                        <li sec:authorize="hasRole('ROLE_ADMIN')">
                            <div class="m-1 hs-dropdown [--trigger:hover] relative inline-flex">
                                <button id="hallpass-dropdown" type="button"
                                    class="hs-dropdown-toggle py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg borde shadow-2xs focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none bg-neutral-800 border-neutral-700 text-white hover:bg-neutral-700 focus:bg-neutral-700"
                                    aria-haspopup="menu" aria-expanded="false" aria-label="hall pass dropdown">
                                    hall pass
                                    <svg class="hs-dropdown-open:rotate-180 size-4 ml-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="m6 9 6 6 6-6" />
                                    </svg>
                                </button>
                                <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 shadow-md rounded-lg mt-2 bg-neutral-800 border border-neutral-700 divide-neutral-700 after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full"
                                    role="menu" aria-orientation="vertical" aria-labelledby="hallpass-dropdown">
                                    <div class="p-1 space-y-0.5">
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/admin/tinkle-view}">tinkle view</a>
                                        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-hidden text-neutral-400 hover:bg-neutral-700 hover:text-neutral-300 focus:bg-neutral-700"
                                            th:href="@{/admin/approval-requests}">approval requests</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown0" sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav">
                    </ul>
                </div>

            </div>

            <div class="btn-group">
                <div class="mx-3 my-[7px] mx-2.5 relative">
                    <!-- magnifying glass icon -->
                    <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
                        <svg class="shrink-0 size-4 text-white/60" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8" />
                            <path d="m21 21-4.3-4.3" />
                        </svg>
                    </div>

                    <!-- the search box input -->
                    <input type="text" class="py-2 ps-10 pe-16 block w-full rounded-lg text-sm focus:outline-hidden focus:border-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-800 border-neutral-700 text-neutral-400 placeholder:text-neutral-400 focus:ring-neutral-600" 
                    placeholder="Search" id="search" aria-label="Search">      
                </div>




                <!-- Login/Logout -->
                <!-- If the user is not authenticated, display a "Login" link -->
                <div class="flex flex-wrap items-center gap-x-1.5">
                    <th:block sec:authorize="isAnonymous()">
                        <div class="px-3 py-[7px] px-2.5 inline-flex items-center font-medium text-sm rounded-lg border shadow-2xs disabled:opacity-50 disabled:pointer-events-none bg-neutral-800 focus:outline-hidden border-neutral-700 text-neutral-300 hover:bg-neutral-700 focus:bg-neutral-700">
                            <a th:href='@{/login}' class="text-sm text-neutral-300" style="text-decoration: none;">Login</a>
    
                        </div>
                        <div class="px-3 py-2 px-2.5 inline-flex items-center font-medium rounded-lg text-white text-sm focus:outline-hidden disabled:opacity-50 disabled:pointer-events-none bg-blue-500 hover:bg-blue-600 focus:bg-blue-600">
                            <a th:href='@{/mvc/person/create}' class="text-white text-sm" style="text-decoration: none;">Sign Up</a>
                        </div>
                    </th:block>
                </div>
                <!-- If the user is authenticated, display a dropdown with the user's username and roles, and a "Logout" link -->
                <th:block sec:authorize="isAuthenticated()">
                    <div class="dropdown px-3">
                        <span sec:authentication="name" class="dropdown-toggle link-dark" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        </span>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <div class="dropdown-item">
                                    <p style="margin-bottom:2px"><strong>ROLES:</strong></p>
                                    <p style="font-size:0.75em;margin:1px" sec:authorize="hasRole('ADMIN')">ADMIN</p>
                                    <p style="font-size:0.75em;margin:1px" sec:authorize="hasRole('USER')">USER</p>
                                    <p style="font-size:0.75em;margin:1px" sec:authorize="hasRole('TESTER')">TESTER</p>
                                </div>
                            </li>
                            <li><a class="dropdown-item active" th:href='@{/logout}'>Logout</a></li>
                        </ul>
                    </div>
                </th:block>


                <!-- Dark mode action -->

            </div>

            <!-- Navigation bar JavaScript support -->
            <script>
                if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
                    javaURI = "http://localhost:8585";
                } else {
                    javaURI = "https://spring.opencodingsociety.com";
                }

                const search = document.getElementById('search');
                const google = 'https://www.google.com/search?q=site%3A+';
                const site = 'https://opencodingsociety.com';

                function submitted(event) {
                    if (event.key === 'Enter') {
                        // calculations to determine new window size at 66% of existing
                        const reduction = 0.66;  // reduce by 66%
                        const w = Math.trunc(window.innerWidth * reduction);
                        const h = Math.trunc(window.outerHeight * reduction);
                        const l = Math.trunc(window.top.screenX + ((window.innerWidth - w) / 2));
                        const t = Math.trunc(window.top.screenY + ((window.outerHeight - h) / 2));
                        const left = "left=" + l;
                        const top = "top=" + t;
                        const width = "width=" + w;
                        const height = "height=" + h;
                        const location = left + ", " + top + ", " + width + ", " + height

                        // setup and display window
                        event.preventDefault();
                        const url = google
                            + site
                            + '+'
                            + search.value;
                        const win = window.open(url, "CompSci A Search", location);
                        win.focus();
                    }
                }
                search.addEventListener('keypress', submitted);


                // Dark Mode Control
                // darkSwitch global element is set for convenience
                const darkSwitch = document.getElementById("darkSwitch");
                // establishes the initial state of darkSwitch on page load
                if (darkSwitch) {
                    // obtains the value of darkSwitch from localStorage
                    const darkSwitchSelected =
                        localStorage.getItem("darkSwitch") !== null &&
                        localStorage.getItem("darkSwitch") === "dark";
                    // sets the value of darkSwitch.checked to the global darkSwitch
                    darkSwitch.checked = darkSwitchSelected;
                    // if dark-mode, toggle the switch to dark-mode position
                    if (darkSwitchSelected)
                        document.body.classList.toggle("dark-mode");
                }
                // executes on each "dark mode" UI toggle
                function darkFunction() {
                    // toggles between off (standard CSS) and dark-mode (.dark-mode CSS)
                    document.body.classList.toggle("dark-mode");
                    // localStorage is used to manage darkSwitch status
                    darkSwitch.checked
                        ? localStorage.setItem("darkSwitch", "dark")
                        : localStorage.removeItem("darkSwitch");
                }
                // End Dark Mode Control
            </script>

        </div>
    </nav>

</th:block>