<th:block xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="header">
    <nav class="navbar navbar-light bg-secondary">
        <div class="container-fluid">
            <!-- Logo and Brand -->
            <div class="d-flex align-items-center">
                <img alt="" class="d-inline-block align-left" 
                     src="" 
                     th:src="@{/images/ncs_logo.png}" 
                     height="50" 
                     width="auto">
                <a class="navbar-brand ms-3" th:href="@{https://nighthawkcodingsociety.com}">Nighthawk Coders</a>
            </div>

            <!-- Navbar items aligned to the left -->
            <ul class="navbar-nav d-flex flex-row me-auto">
                <li class="nav-item active me-3">
                    <a class="nav-link" th:href="@{/}">Home<span class="sr-only"></span></a>
                </li>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item me-3">
                        <a class="nav-link" th:href="@{/mvc/person/person-quiz}">Database Person Quiz<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" th:href="@{/mvc/person/read}">SQL Person<span class="sr-only"></span></a>
                    </li>
                </th:block>
            </ul>

            <!-- Login/Signup (if anonymous) and Dropdown (if authenticated) -->
            <div class="d-flex align-items-center">
                <th:block sec:authorize="isAnonymous()">
                    <div class="px-3">
                        <a th:href='@{/login}' class="link-dark">Login</a>
                    </div>
                    <div class="px-3">
                        <a th:href='@{/mvc/person/create}' class="link-dark">Sign Up</a>
                    </div>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <div class="dropdown px-3">
                        <span sec:authentication="name" class="dropdown-toggle link-dark" href="#" role="button" 
                              data-bs-toggle="dropdown" aria-expanded="false"></span>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <div class="dropdown-item">
                                    <p style="margin-bottom:2px"><strong>ROLES:</strong></p>
                                    <p style="font-size:0.75em;margin:1px" sec:authorize="hasRole('ADMIN')">ADMIN</p>
                                    <p style="font-size:0.75em;margin:1px" sec:authorize="hasRole('USER')">USER</p>
                                    <p style="font-size:0.75em;margin:1px" sec:authorize="hasRole('TESTER')">TESTER</p>
                                </div>
                            </li>
                            <li><a class="dropdown-item active" th:href='@{/logout}'>Logout</a></li>
                        </ul>
                    </div>
                </th:block>
            </div>
        </div>
    </nav>
</th:block>
